.idea

node_modules
prisma/migrations
dist
gen

.env

### TEMPORARY
Anaconda Prompt for DegreeEZ thingy.lnk
###

scrapers/assist-data.json
scrapers/cvc-courses.json

prisma/seed/util/schedule/schedule.log
