.idea
gen

node_modules
dist
prisma/migrations

.env

### TEMPORARY
express/scrapers/assist-pdfs
express/scrapers/cvc-courses.json
app/etc/nginx/cert
Anaconda Prompt for DegreeEZ thingy.lnk
assist parser/assist-data.json
express/scrapers/assist-data.json
###
scrapers/assist-data.json
scrapers/cvc-courses.json
