server {
    listen 80;
    server_name your_domain.com www.your_domain.com;
    return 301 https://$host$request_uri;
}

server {
    listen 443 ssl;
    server_name your_domain.com www.your_domain.com;

    ssl_certificate .pem;
    ssl_certificate_key /path/to/your/privatekey.pem;

    # Other SSL configurations...

    location / {
        proxy_pass http://127.0.0.1:8000;  # Adjust the port if your Gunicorn is running on a different port
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        # Add other proxy configurations as needed...
    }

    # Additional Nginx configurations...
}
